[submodule "contracts/lib/risc0-ethereum"]
	path = contracts/lib/risc0-ethereum
	url = https://github.com/risc0/risc0-ethereum
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
